@using WebApplication8.Models
@model FormSubmissionViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormSubmit</title>
</head>
<body>
    <div>
        <h1>First Name: @Model.FirstName</h1>
        <h1>First Name: @Model.LastName</h1>
    </div>
</body>
</html>
